{{define "content"}}
  <div class="container holder">
      <h1 class="head" style="color:rgb(214, 7, 7);">Oops.. you did something wrong.</h1>
      <h1><a href="/" class="head">GO BACK?</a></h1>
  </div>
{{end}}